.navbar {
    width: 100%;
    height: 75px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #ff1f1f;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    color: #d6d6d6;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #ff1f1f;
}